@charset "utf-8";


/* html, body	{width:100%;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button	{margin:0;padding:0}
body		{background:#fff;word-wrap:break-word; word-break:break-all;}
hr			{display:none}
img,fieldset,iframe	{border:0 none}
img			{vertical-align:middle}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,menu,nav,section	{display:block;padding:0px;margin:0px} */
body,h1,h3,h4,th,td,input,button{font-family: Roboto, 'Malgun Gothic', sans-serif; font-size: 13px; font-weight: 400; color: #787a84;}
ul,ol,li	{list-style:none}

#mypage {height:1400px; position:relative; padding-bottom: 285px;}

/* #mypage input {
	 -webkit-appearance: true ;
} */

#mypage input[type="button"], #mypage input[type="submit"] {bottom: 15px; right: 15px; width: 60px; height: 26px; border: 1px solid #FD8A69; background: #fff; font-size: 15px; font-weight: 300; color: #FD8A69; cursor:pointer; -webkit-transition: background 0.3s; -moz-transition: background 0.3s; -o-transition: background 0.3s; transition: background 0.3s; padding: 1px 14px; margin-left: 5px; text-align: center;}
#mypage input[type="button"]:hover, #mypage input[type="submit"]:hover,
#mypage input[type="button"]:focus, #mypage input[type="submit"]:focus {background: #FD8A69;color: #fff;}
#mypage a			{text-decoration: none;}

#mypage .tl	{text-align:left;}
#mypage .tc	{text-align:center;}
#mypage .tr	{text-align:right;}
#mypage .tcx, #mypage .tcx:hover, #mypage .tcx:focus {text-align:center; background-color:white; height:450px;}

#mypage .tit_01{ font-size: 15px; font-weight: 500; color: #333; margin-bottom:10px;}
#mypage .tit_02{ font-size: 14px; font-weight: 400; color: #333; margin-bottom:10px;}
#mypage .tit_03{ font-size: 13px; font-weight: 300; color: #333; margin-bottom:10px;}
#mypage .tit_04{ font-size: 12px; font-weight: 300; color: #333; margin-bottom:10px;}

#mypage div.wrap	{position: relative; width:1280px;margin:0 auto;padding:0;}



#mypage section		{padding-bottom:140px;}

#mypage section nav	{float:left; width : 220px; padding-top:100px;}
#lnb .title	{font-size:20px; font-weight:1000; color :#1c2238; padding-bottom:20px;}

#lnb ul.depth2 {border-top: solid 2px #FD8A69;}
#lnb ul.depth2 > li {border-bottom: solid 1px #c7cdd7;}
#lnb ul.depth2 > li > a {display: block; padding: 14px 45px 14px 20px; background: #fff url(../images/common/icnMoreLnb.png) no-repeat 180px 17px; line-height: 1.2; font-size: 19px; font-weight: 400; color: #000; letter-spacing: -1px; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s;}
#lnb ul.depth2 > li > a:hover,
#lnb ul.depth2 > li > a:focus {background-color: #e8ebf0;}

#lnb ul.depth2 > li.on > a {background-color: #FD8A69 !important; color: #fff;}
#lnb ul.depth2 > li.on > ul.depth3 {display: block;}

#mypage section article	{float:right; position: relative; width : 1040px; margin: 10px 0px;}
#mypage div.container 	{width:100%; }



#mypage table.tb			{width:100%; border-collapse:collapse; border-top-style:none;}
#mypage table.tb caption	{display:none; left:-99999999in;}
#mypage table.tb thead		{display:table-header-group; width:100%;}
#mypage table.tb tbody		{display:table-row-group; width:100%;}
#mypage table.tb tr		{background:white; }
#mypage table.tb tr	a	{color: #1c2238; }
#mypage table.tb tr:hover	{background: #FDFCDB;}
#mypage table.tb tr.nohover{background:white; }
#mypage table.tb tr.selected {background:#FCFBBC; }
#mypage table.tb th		{background:#FEE2DA; text-align:center; font-weight: 400; color: #1c2238; height: 24px; padding: 2px 6px;  border-top: solid 1px #000; border-bottom: solid 1px #000;}
#mypage table.tb td		{height: 24px; padding : 2px 6px; border-top: solid 1px #000; border-bottom: solid 1px #000;}
#mypage table.tb tr:first-child td {height: 24px; padding : 2px 6px; border-top:none;}

#SSresult{float:left; margin-top: 6px;}
#BSresult{float:left; margin-top: 6px;}

/* .divPage{text-align: center;margin-top: 20px;} */
#mypage .page_wrap {
	text-align:center;
	font-size:0;
	margin-top: 50px;
 }
#mypage .page_nation {
	display:inline-block;
}
#mypage .page_nation .none {
	display:none;
}
#mypage .page_nation a {
	margin:0 0px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
#mypage .page_nation .arrow {
	border:1px solid #ccc;
}
#mypage .page_nation .pprev {
	background:#f8f8f8 url('../img/page_pprev.png') no-repeat center center;
	margin-left:0;
}
#mypage .page_nation .prev {
	background:#f8f8f8 url('../img/page_prev.png') no-repeat center center;
	margin-right:7px;
}
#mypage .page_nation .next {
	background:#f8f8f8 url('../img/page_next.png') no-repeat center center;
	margin-left:7px;
}
#mypage .page_nation .nnext {
	background:#f8f8f8 url('../img/page_nnext.png') no-repeat center center;
	margin-right:0;
}
#mypage .page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}



/* header		{border-bottom: solid 2px #FD8A69; text-align: center; line-height: 0; font-size: 0; height: 80px;}
footer	{clear:both; background: #fff; border-top: 1px solid #dfdfdf; line-height: 0; font-size: 0; height: 80px;} */
